body{
    background-color: #181a1b;
    color: #d1cdc7;
}
.search{
    padding-top: 30px;
    margin-right: 70px;
    text-align: right;
    margin-bottom: -50px;
}

.temperature-option{
    margin-left: 200px;
    margin-top: 10px;
    margin-bottom: -40px;
}

.weather-heading{
    margin-left: 200px;
}

.error-message{
    padding-top: 50px;
    margin-right: 95px;
    text-align: right;
    margin-bottom: -70px;
    color: #dc3545;
}

.search-city{
    width: 15%;
    display: inline-block;
    margin-left: -3px;
    padding-bottom: 5px;
    padding-top: 1px;
    
}

.date{
    margin-left: 200px;
}

.time{
    margin-top: 120px;
    margin-left: 200px;
}

.description{
    font-size: 20px;
}

.location{
    font-size: 40px;
}

.main-icon{
    display: inline;
    float: right;
    margin-top: -20px;
    margin-right: 500px;
    height: 150%;
}

.weather-temperature{
    display: inline-block;
    margin-left: 200px;
}

.active{
    background-color: #666;
    color: white;
}

.actives{
    background-color: #666;
    color: white;
}

.divider{
    display: inline-block;
    margin-left: 40px;
}

.current-temp{
    margin-top: -50px;
    font-size: 175px;
}

.superscript{
    font-size: 70px;
}

.weather-information{
    margin-left: 70px;
    display: inline-block;
    font-size: 18px;
}

.options{
    margin-left: 200px;
}

.hourly-nav{
    margin-left: 30px;
    display: none;
}

.days{
    display: inline-block;
    margin-left: 100px;
}

.high{
    display: inline-block;
    margin-left: 50px;
}

.options{
    margin-top: 150px;
}

.daily{
    padding-left: 165px;
}
.daily-day{
    margin-top: 30px;
}

.daily-day-label{
    font-size: 20px;
}

.daily-high-label{
    font-size: 25px;
    font-weight: bold;
}

.daily-low-label{
    font-size: 15px;
}

.daily-high{
    margin-top: 10px;
}

.daily-low{
    margin-top: 10px;
}

.daily-icon{
    margin-left: -60px;
}

.hourly{
    padding-left: 130px;
    display: none;
}

.hourly-time{
    margin-top: 30px;
}

.hourly-time-label{
    font-size: 20px
}

.hourly-temp-label{
    font-size: 25px;
    font-weight: bold;
}